/* html { height: 400%; }
body { height: 100%; } */
body { font-family: "NotoSans-Regular" }

/* fonts */
@font-face {
  font-family: 'hanna';
  src: url('../font/hanna.woff');
  font-weight: bold;
}
@font-face {
  font-family: 'dohyeon';
  src: url('../font/dohyeon.woff');
}
@font-face {
  font-family: 'NotoSans-Light';
  src: url('../font/NotoSans-Light.woff');
  font-weight: normal;
}
@font-face {
  font-family: 'NotoSans-Regular';
  src: url('../font/NotoSans-Regular.woff');
  font-weight: normal;
}

/* nav */
.main-nav {
  position: fixed;
  height: 100%;
  width: 200px;
  z-index: 7;
  opacity: 0;
  top: 0;
}
.main-nav-bg {
  width:200px;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
  background-color: #8B4513;
  opacity: 0;
}
.main-nav ul { margin-top: 10px; }
.main-nav ul a { font-family: 'NotoSans-Light'; color: #fff; }
.main-nav ul a.author { color: #fff; }
.main-nav .nav-top { width: 100%; height: 200px; }
.main-nav .logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}
.main-nav .logo:hover { opacity: 0.7; }
.main-nav .logo .logo-img { width: 150px; height: 150px; }
.main-nav ul a:hover {
  background: #fff!important;
  color: #8B4513!important;
}
.main-nav ul a.activec {
  background: #fff!important;
  color: #8B4513!important;
}

/* toggle-nav */
.toggle-nav {
  padding: 10px 20px;
  position: fixed;
  z-index: 10;
  left: 0; top: 0;
  cursor: pointer;
  color: #8B4513;
  font-size: 1.5rem;
  font-weight: bold;
}
.toggle-nav i { cursor: pointer; }
.toggle-nav:hover { color: #999; }

/* boxs */
.box-group { width: 100%; }
.boxes {
  width: 100%;
  height: auto;
  padding: 20px 0;
}
.boxes h3{
  padding: 10px;
  font-family: 'NotoSans-Regular';
  font-weight: bold;
  text-align: center;
}

/* footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  z-index: 2
}
footer .footer-p {
  color: #fff;
  line-height: 1.3rem;
  text-align: center;
  width: 100%;
  font-size: 14px;
  letter-spacing: -0.5px;
  font-family: 'NotoSans-Regular', sans-serif;
}
footer .footer-p a { color: #fff; text-decoration: none; }
footer .footer-p a:hover { color: #fff; text-decoration: underline; }
.footer-bg {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #8B4513;
  opacity: 0.8;
  z-index: 1;
}
