/* html { height: 400%; }
body { height: 100%; } */

/* fonts */
@font-face {
  font-family: 'hanna';
  src: url('../font/hanna.woff');
  font-weight: bold;
}
@font-face {
  font-family: 'dohyeon';
  src: url('../font/dohyeon.woff');
}
@font-face {
  font-family: 'NotoSans-Light';
  src: url('../font/NotoSans-Light.woff');
  font-weight: normal;
}
@font-face {
  font-family: 'NotoSans-Regular';
  src: url('../font/NotoSans-Regular.woff');
  font-weight: normal;
}

/* nav */
.main-nav {
  padding-top: 30px;
  position: fixed;
  height: 100%;
  width: 200px;
  z-index: 3;
  left: 0; top: 0;
}
.main-nav-bg {
  width:200px;
  height: 100%;
  position: fixed;
  left: 0; top: 0;
  z-index: 1;
}
.main-nav ul { margin-top: 10px; }
.main-nav ul a {
  font-family: 'NotoSans-Light';
  color: #29290e;
}
.main-nav .nav-top {
  width: 100%;
  height: 200px;
}
.main-nav .logo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}
.main-nav .logo:hover { opacity: 0.7; }
.main-nav .logo .logo-img {
  width: 150px; height: 150px;
}
.main-nav ul a:hover {
  background: #29290e!important;
  color: #fff!important;
}
.main-nav ul a.activec {
  background: #29290e!important;
  color: #fff!important;
}

/* boxs */
.box-group {
  /* height: 100%; */
}
.boxs {
  width: 100%;
  height: 1200px;
  padding-left: 200px;
}
.box-group div.targetc { background: #fff; }
/* .box-group div.targetc:nth-child(even) { background: #eee; } */
.boxs h3, .boxs h4 {
  padding: 10px;
  font-family: 'NotoSans-Regular';
  font-weight: bold;
  text-align: center;
}
.pd { padding: 5px 10px; }

/* box1 */
.box1 .bestseller_head { margin-top: 1rem; }
.box1 .new-book { margin-top: 20px; }
.box1 .box1-con2 .card-wrap {
  border: 1px solid #999;
  padding: 20px 10px;
}
.box1 .box1-con2 .card-wrap .card img {
  width: 9rem;
  padding: 5px;
  border-radius: 0.5rem;
}

/* box2 */
.box2-con1 {
  border-bottom: 1px solid #999;
  padding: 10px 10px;
}
/* box3 */
/* box4 */

/* footer */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-left: 200px;
  height: 60px;
  z-index: 2
}
footer .footer-p {
  color: #fff;
  line-height: 1.3rem;
  text-align: center;
  width: 100%;
  font-size: 14px;
  letter-spacing: -0.5px;
  /* font-family: '맑은 고딕', monospace; */
  font-family: 'NotoSans-Regular', sans-serif;
}
footer .footer-p a { color: #fff; text-decoration: none; }
footer .footer-p a:hover { color: #fff; text-decoration: underline; }
.footer-bg {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-left: 200px;
  height: 60px;
  background: black;
  opacity: 0.8;
  z-index: 1;
  margin-left: 200px;
}
